Source: proxmox-firewall
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: cargo:native,
               debhelper-compat (= 13),
               librust-anyhow-1+default-dev,
               librust-insta-1+default-dev (>= 1.21-~~),
               librust-insta-1+json-dev (>= 1.21-~~),
               librust-proxmox-log-1-dev,
               librust-proxmox-network-types-dev,
               librust-proxmox-sys-1+default-dev,
               librust-proxmox-ve-config-0.4+default-dev (>= 0.4~~),
               librust-serde-1+default-dev,
               librust-serde-1+derive-dev,
               librust-serde-json-1+default-dev,
               librust-serde-plain-1+default-dev,
               librust-signal-hook-0.3+default-dev,
               librust-thiserror-2+default-dev,
               libstd-rust-dev,
               netbase,
               python3,
               rustc:native,
Standards-Version: 4.6.2
Homepage: https://www.proxmox.com

Package: proxmox-firewall
Architecture: any
Conflicts: ulogd,
Depends: netbase, nftables, pve-firewall, ${misc:Depends}, ${shlibs:Depends},
Description: Proxmox's nftables-based firewall written in rust
 This package contains a nftables-based implementation of the Proxmox VE
 Firewall
