[Unit]
Description=Proxmox nftables firewall
Wants=pve-cluster.service pvefw-logger.service
After=pvefw-logger.service pve-cluster.service network.target systemd-modules-load.service

[Service]
ExecStart=/usr/libexec/proxmox/proxmox-firewall
Type=simple

[Install]
WantedBy=multi-user.target

